{% extends "::base.html.twig" %}

{% block title %}AppBundle:Router:show{% endblock %}

{% block body %}
    {#<h1>Welcome to the Router:{{ slug }}</h1>#}

    <hr>
    local:{{ local }}<br>
    year:{{ year }}<br>
    title:{{ title }}
{% endblock %}


